<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="../node_modules/vue/dist/vue.global.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <div id="app">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" v-for="link in links" @click="openWebsiteInNewWindow(link.url)">{{link.name}}</button>
      </div>
      <div>
        <ul class="list-group" id="cursorSchemeList">
          <table>
            <th>Name</th>
            <th>Normal</th>
            <th>Hand</th>
            <th>Action</th>
            <tr v-for="cursorScheme in cursorSchemes">
              <td><label>{{cursorScheme.name}}</label></td>
              <td><img v-bind:src="cursorScheme.getNormalCursorPath()" height="30" /></td>
              <td><img v-bind:src="cursorScheme.getHandCursorPath()" height="30" /></td>
              <td><button class="btn btn-primary" @click="applyCursorScheme(cursorScheme)">Apply</button></td>
            </tr>
          </table>
        </ul>
      </div>
    </div>
  </body>
  <script type="module" src="./renderer.js"></script>
</html>