<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="../node_modules/vue/dist/vue.global.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <div id="app">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" v-for="link in links" @click="openWebsiteInNewWindow(link.url)">{{link.name}}</button>
      </div>
      <div>
        <ul class="list-group" id="cursorSchemeList">
          <table class="table table-hover">
            <thread class="thread-dark">
              <th>Name</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Action</th>
            </thread>
            <tbody>
              <tr v-for="cursorScheme in cursorSchemes">
                <td><label>{{cursorScheme.name}}</label></td>
                <td><img v-bind:src="cursorScheme.normalCursorPath" height="30"/></td>
                <td><img v-bind:src="cursorScheme.appStartingCursorPath" height="30"/></td>
                <td><img v-bind:src="cursorScheme.waitCursorPath" height="30"/></td>
                <td><img v-bind:src="cursorScheme.handCursorPath" height="30"/></td>
                <td><button class="btn btn-primary" @click="applyCursorScheme(cursorScheme)">Apply</button></td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>
    </div>
  </body>
  <script type="module" src="./renderer.js"></script>
</html>